*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    background: #B2BCC5;
    font-family: 'Farro', sans-serif;
    box-sizing: border-box;
}

main{
    width: 90%;

}


.pantalla{
    height: 100vh;
    width: 100%;
}


.hud{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.hud button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hud .record{
    display: flex;
}

.display{
    display: grid;
    place-content: center;
    width: 100%;
}

.display figure{
    width: 100%;
    display: flex;
    justify-content: center;

}

.display figure img{
    width: 80%;
}


.controles{
    display: flex; 
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw; 
    box-sizing: border-box;
    background-color: #F6AB73;
    padding: 30px;
}

.btn{
    position: relative;
    max-width: 30%;
}

.btn .key{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: #303A3C;
    color: #F6E7D4;
}

.btn img{
    width: 100%;
}

.controles2{
    display: flex; 
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw; 
    box-sizing: border-box;
    background-color: #F6AB73;
    padding: 30px; 
}

.controles figure{
    cursor: pointer;
    margin: 4px;
    box-sizing: border-box;
}

.controles2 figure{
    cursor: pointer;
    margin: 4px;
    box-sizing: border-box;
}


.perdiste{
    position: absolute;
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-color: #be5727b0;
    background: linear-gradient(0deg, #BE5727, #be572787);
    backdrop-filter: blur(10px);
    background: blur;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
}


.perdiste figure{
    width: 100px;
    margin: 0 auto;
}

.perdiste figure img{
    width: 100%;
}



.perdiste .btnVolver{
    width: 270px;
    cursor: pointer;
}

.perdiste .btnVolver img{
    width: 100%;
}

.oculto{
    display: none;
}

.perdiste .textos{
    text-align: center;
    margin-bottom: 24px;
}

.jugadorNumero{
    position: absolute;
    top: 3px;
    color: #BE5727;
    font-weight: bold;
}

.vida{
    max-width: 300px;
    height: 31px;
    background-color: #B69E96;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #303A3C;
    position: relative;
    margin: 0 auto;
}

.vida p{
    position: absolute;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 6px;
    
}

.vidaRestante{
    height: 100%;
    background-color: #BE5727;
}

@media screen and (max-width: 600px){

    .controles{
        display: flex; 
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw; 
        box-sizing: border-box;
        background-color: #F6AB73;
        padding: 30px 12px 12px 12px;
    }
   
    .controles2{
        display: flex; 
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        bottom: unset;
        right: unset;
        width: 100vw; 
        box-sizing: border-box;
        background-color: #F6AB73;
        padding: 30px 12px 12px 12px;;
        transform: rotate(180deg);
    }

    .controles figure, .controles2 figure{
        max-width: 20%;
    }

    .btn .key{
        display: none;
    }

    .pantalla{
        
        display: grid;
        place-items: center;
    }

    .hud{
        margin: 0 12px;
    }

    .display{
        display: grid;
        place-items: center;
        margin-bottom: 20px;
    }
    
    .display figure{
        margin-top: 0;
        max-width: 50%;
    }

    .display figure img{
        width: 100%;
        margin: 0 auto;
    }

    .rotado{
        transform: rotate(90deg);
    }



}

