*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    background: #B2BCC5;
    font-family: 'Farro', sans-serif;
    box-sizing: border-box;
    color: #303A3C;
}

img{
    pointer-events: none;
}

main{
    width: 90%;

}

.pantalla{
    height: 100vh;
    width: 100%;
}



.logo{
    width: 271px;
    box-sizing: border-box;
    margin-top: 48px;
    margin-bottom: 50px;
}

.logo img{
    width: 100%;
}
.btnRegular{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./IMG/btn.png");
    width: 271px;
    height: 101px;
    text-decoration: none;
    color: #303A3C;
    font-size: 30px;
    margin-bottom: 24px;
}

.hud{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.hud h1{
    width: 100%;
}

.hud button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hud .record{
    display: flex;
}

.display{
    display: grid;
    place-content: center;
    width: 100%;
}

.display figure{
    width: 100%;
    display: flex;
    justify-content: center;

}

.display figure img{
    width: 80%;
}

.controles{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; 
    box-sizing: border-box;
    background-color: #F6AB73;
    padding: 30px;
    border-radius: 12px 12px 0 0;
    margin: 0 auto;

}

.btn{
    position: relative;
    max-width: 30%;
    margin: 0 12px;
}

.btn .key{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: #303A3C;
    color: #F6E7D4;
}

.btn img{
    width: 100%;
}

.contenedor{
    width: 100%;
    max-width: 500px;
    display: flex; 
    justify-content: space-around;
    box-sizing: border-box;
}

.contenedor figure{
    cursor: pointer;
    margin: 4px;
}

.contenedor figure img{
    width: 100%;
}

.perdiste{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #be5727b0;
    background: linear-gradient(0deg, #BE5727, #be572787);
    backdrop-filter: blur(10px);
    background: blur;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
}

.perdiste figure{
    width: 385px;
}

.perdiste figure img{
    width: 100%;
}



.perdiste .btnVolver{
    width: 270px;
    cursor: pointer;
}

.perdiste .btnVolver img{
    width: 100%;
}

.oculto{
    display: none;
}

.perdiste .textos{
    text-align: center;
    margin-bottom: 24px;
}

.helpsec{
    max-width: 500px;
}

.helpsec img{
    width: 250px;
}

.explain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 48px;
}

.explain h1{
    margin: 24px 0 ;
}

.explain p{
    margin: 24px 0 ;
}

.vida{
    max-width: 300px;
    height: 31px;
    background-color: #B69E96;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #303A3C;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.vida p{
    position: absolute;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 6px;
    
}

.vidaRestante{
    height: 100%;
    background-color: #BE5727;
}

@media screen and (max-width: 600px){

    .btn .key{
        display: none;
    }

}